/* global and import configurations */

@import url(/src/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    scroll-behavior: smooth;
}

.btn-download {
    width: 70px;
    height: 30px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    border-radius: 10px;
    background-color: #e40d05;
    color: #fff;
    cursor: pointer;
}

.btn-download:hover {
    transform: scale(1.1);
}

/* header configurations */

header {
    position: relative;
    height: 80px;
    background: rgba(64, 128, 201, 0.9);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

header .logo {
    font-family: 'VT323';
    width: fit-content;
    font-size: 60px;
    font-style: italic;
    text-transform: uppercase;
    display: flex;
    color: #fdfdfd;
    filter: drop-shadow(2px 2px 1px #333);
}

header i {
    margin-left: 7px;
    font-size: 25px;
    align-self: flex-end;
    color: #ff0;
}

header .menu {
    font-family: 'Calibri';
    display: inline-block;
    height: 80px;
    line-height: 80px;
}

header .menu_item {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 25px;
    color: #fdfdfd;
    text-decoration: none;
}

header .menu_item:hover {
    color: #d0d0d0;
    transition: 400ms;
}

/* main configurations */

main {
    font-family: 'Calibri';
}

main .title {
    background: url('/src/img/background.png');
    background-position: center;
    background-size: cover;
    padding: 120px 60px;
    margin-bottom: 30px;
    height: 80vh;
    display: flex;
}

.title h1 {
    color: #f1f1f1;
    font-size: 80px;
    text-shadow: 4px 4px 1px #000;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.home_paragraph {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.home_paragraph p {
    color: #000;
    font-size: 30px;
    font-weight: lighter;
}

/* .homepage-link {
    position: absolute;
    top: 10;
    left: -7px;
    width: 10%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 128, 201, 0.9);
    box-shadow: 5px 3px 3px #aaa;
}

#home-link {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

#home-link:hover {
    transition: 0.3s;
    transform: scale(0.8);
} */

.container {
    background-color: rgba(64, 128, 201, 0.9);
    width: 100%;
    height: 100vh;
    border: 20px ridge #b3b3b3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
}

/* CSS relacionado as divs dos jogos */

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    box-shadow: 3px 3px 3px #000;
    min-width: 100%;
    min-height: 65%;
    max-height: 65%;
    padding: 1rem;
    gap: 0.5rem;
}

.game-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#megaman1 {
    background-image: url('/src/img/megamanx-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman2 {
    background-image: url('/src/img/megamanx2-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman3 {
    background-image: url('/src/img/megamanx3-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman4 {
    background-image: url('/src/img/megamanx4-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman5 {
    background-image: url('/src/img/megamanx5-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman6 {
    background-image: url('/src/img/megamanx6-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman7 {
    background-image: url('/src/img/megamanx7-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman8 {
    background-image: url('/src/img/megamanx8-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tag-snes {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6603a8;
    padding: 5px;
    border-radius: 5px;
}

.tag-ps1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #038fa8;
    padding: 5px;
    border-radius: 5px;
}

.tag-ps2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #37a803;
    padding: 5px;
    border-radius: 5px;
}

.game-img:hover {
    transition: 0.5s;
    transform: translate(20px, -10px);
    cursor: pointer;
}

/* CSS relacionado a página de informações */

.container-info {
    background-color: rgba(64, 128, 201, 0.9);
    border: 20px ridge #b3b3b3;
    width: 100%;
    height: 90vh;
    padding: 1rem;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    gap: 1rem;
}

/* Informações painel esquerdo*/

.info-left {
    width: 40%;
    min-height: 100%;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: auto;
}

.logo {
    width: 100%;
    min-height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.bold {
    font-weight: 900;
}

.features-list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    gap: 0.5rem;
    /* border: 1px solid red; */
}

.features {
    width: 100%;
    min-height: 69%;
    padding: 0.5rem;
}

/* Informações painel direito*/

.info-right {
    width: 60%;
    min-height: 100%;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.trailer-video {
    width: 100%;
    min-height: 90%;
}

.caption {
    font-size: 30px;
    text-align: center;
}